body {
  margin: 0;
  padding: 0;
}

#board {
  /* background: linear-gradient(to bottom, black, grey, white, grey, black); */
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../img/background.jpg");
}

#player {
  /* background-color: fuchsia; */
  background-image: url("./img/space.png");
  position: absolute;
  bottom: 45vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.obstacle {
  /* background-color: orange; */
  position: absolute;
  background-image: url("./img/metoor.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.bullet {
  /* background-color: whitesmoke; */
  position: absolute;
  background-image: url("./img/fire2.png");
  background-size: contain;
}
.score {
  position: absolute;
  color: yellow;
}
