body {
  margin: 0;
  padding: 0;
}

#board {
  background: linear-gradient(to bottom, black, grey, white, grey, black);
  height: 100vh;
  position: relative;
}

#player {
  background-color: fuchsia;
  position: absolute;
  bottom: 45vh;
}

.obstacle {
  background-color: orange;
  position: absolute;
}
.bullet {
  background-color: purple;
  position: absolute;
}
.score {
  /* background-color: yellow; */
  position: absolute;
  font-size: 44 px;
  color: yellow;
}
